In [1]:
# Installing Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\hppc\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hppc\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
#Importing all the necessary libraries here

In [3]:
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementClickInterceptedException
import pandas as pd
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [50]:
# Activating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")

In [51]:
# open url
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
driver.get(url)

In [52]:
search=driver.find_element_by_xpath("//input[@class='vector-search-box-input']")
search.send_keys("List_of_most-viewed_YouTube_videos")
buton=driver.find_element_by_id("searchButton").click()

In [53]:
Rank=[]
rank=driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//table[3]//tbody[1]//tr//td[1]")

for i in rank:
    Rank.append(i.text)
len(Rank)

30

In [54]:
nm=driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[2]")
Name=[]
for i in nm:
    Name.append(i.text)
len(Name)

30

In [55]:
Artist=[]
art=driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[3]")

for i in art:
    Artist.append(i.text)
len(Artist)

30

In [56]:
Views=[]

view=driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[4]")

for i in view:
    Views.append(i.text)
len(Views)

30

In [57]:
Upload_Date=[]

upld=driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[5]")

for i in upld:
    Upload_Date.append(i.text)
    
len(Upload_Date)

30

In [58]:
#data frame
df=pd.DataFrame()

df['Rank']=Rank
df['Video Name']=Name
df['Artist Name']=Artist
df['Uploaded Date']=Upload_Date
df['No of Views']=Views

df

,Rank,Video Name,Artist Name,Uploaded Date,No of Views
0,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","9,453,134,982"
1,2,"""Despacito""[25]",Luis Fonsi,"January 12, 2017","7,572,747,360"
2,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016","5,781,348,353"
3,4,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017","5,483,427,541"
4,5,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015","5,284,905,560"
5,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018","4,549,294,432"
6,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018","4,513,879,675 (as of Sep 29, 2021)"
7,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012","4,461,096,975"
8,9,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014","4,319,159,452"
9,10,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014","4,220,180,419"
10,11,"""Gangnam Style""[36]",Psy,"July 15, 2012","4,211,421,413"
11,12,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018","3,633,337,215"
12,13,"""Sugar""[39]",Maroon 5,"January 14, 2015","3,565,906,701"
13,14,"""Sorry""[40]",Justin Bieber,"October 22, 2015","3,474,094,697"
14,15,"""Roar""[41]",Katy Perry,"September 5, 2013","3,444,786,615"
15,16,"""Counting Stars""[42]",OneRepublic,"May 31, 2013","3,412,577,920"
16,17,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014","3,337,279,340"
17,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018","3,291,808,512"
18,19,"""Dark Horse""[45]",Katy Perry,"February 20, 2014","3,155,611,442"
19,20,"""Faded""[46]",Alan Walker,"December 3, 2015","3,155,489,927"
20,21,"""Girls Like You""[47]",Maroon 5,"May 31, 2018","3,143,116,042"
21,22,"""Lean On""[48]",Major Lazer,"March 22, 2015","3,105,926,931"
22,23,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014","3,105,539,316"
23,24,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014","3,104,230,107"
24,25,"""Let Her Go""[51]",Passenger,"July 25, 2012","3,090,217,295"
25,26,"""Axel F""[52]",Crazy Frog,"June 17, 2009","3,035,828,739"
26,27,"""Mi Gente""[53]",J Balvin,"June 29, 2017","2,986,493,839"
27,28,"""Perfect""[54]",Ed Sheeran,"November 9, 2017","2,974,982,274"
28,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010","2,962,613,841"
29,30,"""Hello""[56]",Adele,"October 23, 2015","2,889,107,727"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [59]:
# Activating the chrome browser
driver=webdriver.Chrome('chromedriver.exe')

In [60]:
# open url
Url='https://www.bcci.tv/'
driver.get(Url)

In [61]:
inter=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")

for i in inter:
    i.text=='INTERNATIONAL'
    i.click()
    break

In [62]:
fixs=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]")

for i in fixs:
    if i.text=='FIXTURES':
        i.click()
        break

In [63]:
Match_Title=[]

match=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")

for i in match:
    Match_Title.append(i.text)
len(Match_Title)

20

In [65]:
Series_Name=[]

sn=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")

for i in sn:
    Series_Name.append(i.text)
len(Series_Name)

20

In [67]:
Place=[]

plc=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")

for i in plc:
    Place.append(i.text)

len(Place)

20

In [68]:
Place

['Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Zayed Cricket Stadium, Abu Dhabi',
 'Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Sawai Mansingh Stadium, Jaipur',
 'JSCA International Stadium Complex, Ranchi',
 'Eden Gardens, Kolkata',
 'Green Park, Kanpur',
 'Wankhede Stadium, Mumbai',
 'New Wanderers Stadium, Johannesburg',
 'Supersport Park, Centurion',
 'New Wanderers Stadium, Johannesburg',
 'Boland Park, Paarl',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Boland Park, Paarl',
 'Boland Park, Paarl']

In [74]:
Date=[]

dt=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")

for i in dt:
    Date.append(i.text)
    
len(Date)

20

In [77]:
Time=[]

tm=driver.find_elements_by_xpath("//div[@class='fixture__full-date']//span")

for i in tm:
    Time.append(i.text)
Time

len(Time)

60

In [81]:
Time = Time[2::3]
Time

['19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '09:30 IST',
 '09:30 IST',
 '13:30 IST',
 '13:30 IST',
 '13:30 IST',
 '14:00 IST',
 '14:00 IST',
 '14:00 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST']

In [82]:
#checking data frame
df=pd.DataFrame()

df['Match Title']=Match_Title
df['Series']=Series_Name
df['Place']=Place
df['Date & Time']=Date
df['Time']=Time

df

,Match Title,Series,Place,Date & Time,Time
0,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai","Dubai International Stadium, Dubai",19:30 IST
1,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai","Dubai International Stadium, Dubai",19:30 IST
2,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi","Zayed Cricket Stadium, Abu Dhabi",19:30 IST
3,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai","Dubai International Stadium, Dubai",19:30 IST
4,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai","Dubai International Stadium, Dubai",19:30 IST
5,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur","Sawai Mansingh Stadium, Jaipur",19:00 IST
6,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi","JSCA International Stadium Complex, Ranchi",19:00 IST
7,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata","Eden Gardens, Kolkata",19:00 IST
8,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur","Green Park, Kanpur",09:30 IST
9,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai","Wankhede Stadium, Mumbai",09:30 IST
10,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg","New Wanderers Stadium, Johannesburg",13:30 IST
11,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion","Supersport Park, Centurion",13:30 IST
12,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg","New Wanderers Stadium, Johannesburg",13:30 IST
13,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl","Boland Park, Paarl",14:00 IST
14,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town","Newlands, Cape Town",14:00 IST
15,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town","Newlands, Cape Town",14:00 IST
16,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town","Newlands, Cape Town",19:30 IST
17,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town","Newlands, Cape Town",19:30 IST
18,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl","Boland Park, Paarl",19:30 IST
19,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl","Boland Park, Paarl",19:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [83]:
# Activating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")

In [84]:
#open a url
url = "https://www.guru99.com/"
driver.get(url)

In [86]:
sel=driver.find_elements_by_xpath("//ul[@class='menu1']/li[3]")
for i in sel:
    i.text=='Selenium'
    i.click()
    break

In [87]:
exch=driver.find_element_by_xpath("//div[@class='entry-content single-content']/table[5]/tbody/tr[34]/td/a/strong[1]").click()

In [88]:
Name=[]

name=driver.find_elements_by_xpath("//div[@class='entry-content single-content']//table/tbody/tr/td[1]")

for i in name:
    Name.append(i.text)
len(Name)

41

In [89]:
Description=[]

desc=driver.find_elements_by_xpath("//div[@class='entry-content single-content']//table/tbody/tr/td[2]")

for i in desc:
    Description.append(i.text)
len(Description)

41

In [90]:
#data frame
df=pd.DataFrame()

df['Exception name']=Name
df['Description']=Description

df

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [91]:
# Activating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")

In [92]:
#open url
url = "http://statisticstimes.com/"
driver.get(url)

In [180]:
indian_states = driver.find_elements_by_xpath("//a[@class='ec']")
for i in indian_states:
    if i.text == 'GDP of Indian states':
        i.click()
        break

In [187]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [188]:
rank=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
    
state=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
    
gsd1=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[3]")
for i in gsd1:
    GSDP1.append(i.text)
    
gsd2=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[4]")
for i in gsd2:
    GSDP2.append(i.text)
    
share=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[5]")
for i in share:
    Share.append(i.text)
    
gdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[6]")
for i in gdp:
    GDP.append(i.text)

In [189]:
df=pd.DataFrame()

df[' Rank']=Rank
df['State']=State
df['GSDP at current price (19-20)']=GSDP1
df['GSDP at current price (18-19)']=GSDP2
df['Share(18-19)']=Share
df['GDP']=GDP

df

Empty DataFrame
Columns: [ Rank, State, GSDP at current price (19-20), GSDP at current price (18-19), Share(18-19), GDP]
Index: []

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [106]:
# Activating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")

In [107]:
#open url
url = "https://github.com/"
driver.get(url)

In [109]:
ex=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]").click()

In [110]:
td=driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']//ul/li[4]/details/div/ul[2]/li[3]/a")
td.click()

In [111]:
Name=[]

nm=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

for i in nm:
    Name.append(i.text)
    
len(Name)

25

In [116]:
Decription=[]

decr=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")

for i in decr:
    Decription.append(i.text)
    
len(Decription)

25

In [118]:
URL=[]

url=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

for i in url:
    URL.append(i.get_attribute('href'))

In [119]:
len(URL)

25

In [120]:
#dataframe
df=pd.DataFrame()

df['Repository title']=Name
df['Repository description']=Decription

df

,Repository title,Repository description
0,peng-zhihui / Dummy-Robot,我的超迷你机械臂机器人项目。
1,trailofbits / algo,Set up a personal VPN in the cloud
2,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...
3,louislam / uptime-kuma,A fancy self-hosted monitoring tool
4,vuejs / vue-next,"🖖 Vue.js is a progressive, incrementally-adopt..."
5,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...
6,facebook / flipper,A desktop debugging platform for mobile develo...
7,fatedier / frp,A fast reverse proxy to help you expose a loca...
8,ossrs / srs,"SRS is a simple, high efficiency and realtime ..."
9,vinta / awesome-python,"A curated list of awesome Python frameworks, l..."
10,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...
11,ihciah / clean-dns-bpf,基于 Rust + eBPF 丢弃 GFW DNS 污染包
12,sdras / awesome-actions,A curated list of awesome actions to use on Gi...
13,Hack-with-Github / Awesome-Hacking,A collection of various awesome lists for hack...
14,anncwb / vue-vben-admin,"A modern vue admin. It is based on Vue3, vite ..."
15,Python-World / Python_and_the_Web,"Build Bots, Scrape a website or use an API to ..."
16,wimpysworld / quickemu,"Quickly create and run optimised Windows, macO..."
17,mattiasgustavsson / dos-like,"Engine for making things with a MS-DOS feel, b..."
18,apache / rocketmq,Mirror of Apache RocketMQ
19,donet5 / WebFirst,.NET CORE 代码生成器 ，Web中使用CodeFirst模式， 实体生成器，UI代码...
20,raywenderlich / flta-materials,The projects and the materials that accompany ...
21,herosi / CTO,Call Tree Overviewer
22,alibaba / Sentinel,A powerful flow control component enabling rel...
23,alibaba / spring-cloud-alibaba,Spring Cloud Alibaba provides a one-stop solut...
24,vuejs / vue,"🖖 Vue.js is a progressive, incrementally-adopt..."

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [121]:
# Activating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")

In [122]:
#open url
url = "https://www.billboard.com/"
driver.get(url)

In [123]:
chart=driver.find_element_by_xpath("//div[@class='sticky header__sticky']//header/div/ul/li[1]/a")
chart.click()

In [124]:
hot_100=driver.find_element_by_xpath("//div[@class='charts-landing__info charts-landing__info--hot-100']/div[2]")
hot_100.click()

In [132]:
Song_Name=[]
Artist_Name=[]
LWR=[]
PR=[]
WB=[]

In [133]:
sn=driver.find_elements_by_xpath("//ol[@class='chart-list__elements']/li/button/span[2]/span[1]")
for i in sn:
    Song_Name.append(i.text)


an=driver.find_elements_by_xpath("//ol[@class='chart-list__elements']/li/button/span[2]/span[2]")
for i in an:
    Artist_Name.append(i.text) 


lr=driver.find_elements_by_xpath("//ol[@class='chart-list__elements']//li/button/div/div[2]")
for i in lr:
    LWR.append(i.text)
    
    
p=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in p:
    PR.append(i.text)
    

w=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in w:
    WB.append(i.text)

In [134]:
#creating data frame
df=pd.DataFrame()

df[' Song name ']=Song_Name
df['Artist name']=Artist_Name
df[' Last week rank']=LWR
df['Peak rank']=PR
df['Weeks on board']=WB

df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,1,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,14,14,4
96,Papi's Home,Drake,8,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,17,17,5

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [190]:
# Activating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")

In [191]:
#open url
url='https://www.naukri.com/'
driver.get(url)

In [193]:
rew=driver.find_element_by_xpath("//a[@title='Search Recruiters']").click()

In [194]:
#switching to new tab
driver.switch_to.window(driver.window_handles[1])

In [195]:
#Send Values Data Science
sk=driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div/input")
sk.send_keys("Data science")

In [196]:
#Click On Search Button
search=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [197]:
Name=[]

name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")

for i in name:
    Name.append(i.text)
    
len(Name)

50

In [198]:
Designation=[]

df=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")

for i in df:
    Designation.append(i.text)
    
len(Designation)

50

In [199]:
Company=[]

comp=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")

for i in comp:
    Company.append(i.text)
    
len(Company)

50

In [201]:
Skill=[]

skill=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")

for i in skill:
    Skill.append(i.text)
    
len(Skill)

50

In [202]:
Url=[]

url=driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]")

for i in url:
    Url.append(i.get_attribute('href'))
    
len(Url)

50

In [204]:
Location=[]

for i in Url:
    driver.get(i)
    
    loc=driver.find_element_by_xpath("//div[@class='wrpSp oh']//div[5]/a")
    try:
        Location.append(loc.text)
    except NoSuchElementException :
        Location.append("--")
  
len(Location)

50

In [206]:
#Creating dataframe
df=pd.DataFrame()

df['Name']=Name
df['Designation']=Designation
df['Company Name']=Company
df['Skills they hire for']=Skill
df['Location']=Location

df

,Name,Designation,Company Name,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
35,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
36,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [143]:
# Activating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")

In [144]:
#open url
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [145]:
Book_Name=[]

bkn=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

for i in bkn:
    Book_Name.append(i.text)
    
len(Book_Name)

100

In [146]:
Author_Name=[]

auth=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

for i in auth:
    Author_Name.append(i.text)
    
len(Author_Name)

100

In [147]:
Volumes_Sold=[]

vol_sol=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

for i in vol_sol:
    Volumes_Sold.append(i.text)

len(Volumes_Sold)

100

In [148]:
Publisher=[]

pubs=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

for i in pubs:
    Publisher.append(i.text)
    
len(Publisher)

100

In [149]:
Genre=[]

grn=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

for i in grn:
    Genre.append(i.text)
    
len(Genre)

100

In [150]:
#creating data frame
df=pd.DataFrame()

df['Book name']=Book_Name
df['Author name']=Author_Name
df['Volumes sold']=Volumes_Sold
df['Publisher']=Publisher
df['Genre']=Genre

In [151]:
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings

In [153]:
# Activating the chrome browser
driver=webdriver.Chrome('chromedriver.exe')
#open url
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [154]:
Name=[]

name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")

for i in name:
    Name.append(i.text)
    
len(Name)

100

In [156]:
Year_Span=[]

year=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")

for i in year:
    Year_Span.append(i.text)
    
len(Year_Span)

100

In [157]:
Genre=[]

gen=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")

for i in gen:
    Genre.append(i.text)
    
len(Genre)

100

In [158]:
Run_Time=[]

rtm=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")

for i in rtm:
    Run_Time.append(i.text)
    
len(Run_Time)

100

In [159]:
Rating=[]

rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

for i in rating:
    Rating.append(i.text)
    

len(Rating)

100

In [160]:
Votes=[]

vote=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]")

for i in vote:
    Votes.append(i.text)
    
len(Votes[1::2])

100

In [161]:
df9=pd.DataFrame()

df['TV Serial Name']=Name
df['Year Span']=Year_Span
df['Genre']=Genre
df['Run Time']=Run_Time
df['Rating']=Rating
df['Votes']=Votes[1::2]

df

,Book name,Author name,Volumes sold,Publisher,Genre,TV Serial Name,Year Span,Run Time,Rating,Votes
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Action, Adventure, Drama",Game of Thrones,(2011–2019),57 min,9.2,"1,882,517"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,"Drama, Fantasy, Horror",Stranger Things,(2016– ),51 min,8.7,"915,891"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,"Drama, Horror, Thriller",The Walking Dead,(2010–2022),44 min,8.2,"904,337"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,"Drama, Mystery, Thriller",13 Reasons Why,(2017–2020),60 min,7.5,"270,912"
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,"Drama, Mystery, Sci-Fi",The 100,(2014–2020),43 min,7.6,"231,309"
...,...,...,...,...,...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,"Drama, Fantasy",Reign,(2013–2017),42 min,7.5,"45,899"
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,"Adventure, Comedy, Drama",A Series of Unfortunate Events,(2017–2019),50 min,7.8,"56,772"
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,"Crime, Drama, Mystery",Criminal Minds,(2005–2020),42 min,8.1,"177,342"
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,"Comedy, Crime, Drama",Scream: The TV Series,(2015–2019),45 min,7.1,"36,886"
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,"Drama, Horror, Mystery",The Haunting of Hill House,(2018),572 min,8.6,"203,718"


10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [162]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://archive.ics.uci.edu/'
driver.get(url)

In [163]:
all_dataset=driver.find_elements_by_xpath("//span[@class='normal']//a")
for i in all_dataset:
    if i.text=='view all data sets':
        i.click()
        break

In [164]:

Dataset_Name=[]

name=driver.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[1]")

for i in name:
    if i.text is None:
        Dataset_Name.append("-")
    else:
        Dataset_Name.append(i.text)
    
len(Dataset_Name)

590

In [166]:
Data_Type=[]

dt=driver.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[2]")

for i in dt:
    if i.text is None:
        Data_Type.append("-")
    else:
        Data_Type.append(i.text)
    
len(Data_Type)

590

In [168]:
Default_Task=[]

det=driver.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[3]")

for i in det:
    if i.text is None:
        Default_Task.append("-")
    else:
        Default_Task.append(i.text)
    
len(Default_Task)

590

In [169]:
Attributes_Types=[]  #list

at=driver.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[4]") #xapth for attributes type

for i in at:
    if i.text is None: #loop
        Attributes_Types.append("-")
    else:
        Attributes_Types.append(i.text)
    
len(Attributes_Types)  #Checking the length of attributes type

590

In [170]:
Instances=[] #List

ins=driver.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[5]") #xpath for instances

for i in ins:  #loop
    if i.text is None:
        Instances.append("-")
    else:
        Instances.append(i.text)
    
len(Instances)  # Checking the length of instances

589

In [172]:
Attributes=[]   #list

atr=driver.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[6]")  #find xpath of the given attributes

for i in atr:   # loop
    if i.text is None:
        Attributes.append("-")
    else:
        Attributes.append(i.text)
        
len(Attributes)  #Checking the length of the attributes

589

In [173]:
Attributes

['# Attributes',
 '8 ',
 '14 ',
 '38 ',
 '294 ',
 '279 ',
 '7 ',
 ' ',
 '69 ',
 '8 ',
 '26 ',
 '1 ',
 '4 ',
 '4 ',
 '9 ',
 '10 ',
 '34 ',
 '32 ',
 '13 ',
 '6 ',
 '14 ',
 '22 ',
 '36 ',
 '6 ',
 ' ',
 '6 ',
 '42 ',
 '15 ',
 ' ',
 '9 ',
 '9 ',
 '54 ',
 '39 ',
 '33 ',
 '20 ',
 ' ',
 ' ',
 ' ',
 '12 ',
 '8 ',
 '30 ',
 ' ',
 '10 ',
 '3 ',
 '5 ',
 '75 ',
 '19 ',
 '27 ',
 ' ',
 '19 ',
 '1558 ',
 '34 ',
 '4 ',
 '617 ',
 '12 ',
 '16 ',
 '7 ',
 '4 ',
 '16 ',
 '7 ',
 ' ',
 '56 ',
 '18 ',
 '8 ',
 '22 ',
 ' ',
 '58 ',
 ' ',
 '61 ',
 '7 ',
 ' ',
 '649 ',
 '22 ',
 '168 ',
 '168 ',
 '8 ',
 ' ',
 '10 ',
 '64 ',
 '16 ',
 '8 ',
 '17 ',
 ' ',
 ' ',
 '72 ',
 '4 ',
 '6 ',
 '10 ',
 '35 ',
 '35 ',
 '4 ',
 '102 ',
 '57 ',
 '22 ',
 '44 ',
 '45 ',
 ' ',
 ' ',
 '5 ',
 '9 ',
 '21 ',
 '32 ',
 '17 ',
 '16 ',
 '38 ',
 '21 ',
 '40 ',
 '13 ',
 '8 ',
 '17 ',
 ' ',
 ' ',
 '15 ',
 '22 ',
 '68 ',
 '40 ',
 '17 ',
 '89 ',
 ' ',
 '4 ',
 '12 ',
 ' ',
 ' ',
 '86 ',
 '72 ',
 '61 ',
 '12 ',
 '481 ',
 '42 ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '5 ',
 '90 ',
 ' ',
 '5 ',
 ' ',
 ' ',
 '14 ',
 '20 ',
 '13 ',
 '36 ',
 '19 ',
 '9 ',
 '18 ',
 '4 ',
 '60 ',
 '10 ',
 ' ',
 ' ',
 '10 ',
 '4 ',
 '3 ',
 '11 ',
 '11 ',
 ' ',
 '6 ',
 '13 ',
 ' ',
 '100000 ',
 '9 ',
 '101 ',
 '10000 ',
 '20000 ',
 '100000 ',
 '5000 ',
 '500 ',
 '73 ',
 '43 ',
 '23 ',
 '3 ',
 '5 ',
 ' ',
 '256 ',
 '591 ',
 '70 ',
 '91 ',
 '10 ',
 '128 ',
 '6 ',
 '12 ',
 '3231961 ',
 '5409 ',
 '26 ',
 ' ',
 ' ',
 '10 ',
 '23 ',
 '24 ',
 '13 ',
 '8 ',
 ' ',
 '27 ',
 '50 ',
 '90 ',
 '138672 ',
 ' ',
 '386 ',
 ' ',
 ' ',
 '12 ',
 '147 ',
 '6 ',
 '8 ',
 '27 ',
 '10000 ',
 '20000 ',
 '10000 ',
 '54877 ',
 '4702 ',
 '24 ',
 '29 ',
 '17 ',
 '3 ',
 '128 ',
 '10 ',
 '242 ',
 '120 ',
 ' ',
 '4 ',
 '13 ',
 '52 ',
 '47 ',
 '857 ',
 '9 ',
 '7 ',
 '200 ',
 '4 ',
 ' ',
 '561 ',
 '64 ',
 '8 ',
 '7 ',
 '10 ',
 '9 ',
 '4 ',
 '8 ',
 '77 ',
 '51 ',
 '18 ',
 '1950000 ',
 '18 ',
 '1300 ',
 '41 ',
 '6 ',
 '5625 ',
 '5 ',
 ' ',
 '7 ',
 '33 ',
 '5 ',
 '15 ',
 '9 ',
 '19 ',
 '5 ',
 '5 ',
 '1000000 ',
 '129 ',
 ' ',
 '20 ',
 '152 ',
 '24 ',
 '16 ',
 '35 ',
 '17 ',
 '5 ',
 '18 ',
 '28 ',
 '7 ',
 '309 ',
 '3 ',
 '6 ',
 ' ',
 ' ',
 '16 ',
 '13 ',
 '5 ',
 '6 ',
 '8 ',
 '2 ',
 '4 ',
 '148 ',
 '55 ',
 '17 ',
 '8 ',
 '42 ',
 '26 ',
 '50 ',
 '2 ',
 '281 ',
 '120 ',
 ' ',
 '6 ',
 '120432 ',
 '150000 ',
 '529 ',
 ' ',
 '16 ',
 '2500 ',
 '5 ',
 '68 ',
 '16 ',
 '100 ',
 '216 ',
 '23 ',
 '33 ',
 '140256 ',
 '19 ',
 '20 ',
 '20 ',
 '49 ',
 '12 ',
 '30 ',
 '5232 ',
 '20 ',
 '1 ',
 ' ',
 '61 ',
 '27 ',
 '53 ',
 '11 ',
 '25 ',
 '0 ',
 '20 ',
 '9 ',
 '3 ',
 '561 ',
 '82 ',
 '13 ',
 '16 ',
 '13 ',
 '28 ',
 '4 ',
 ' ',
 '24 ',
 '34 ',
 '8 ',
 '128 ',
 '15 ',
 '513 ',
 '7 ',
 '7 ',
 '5 ',
 '15 ',
 '480000 ',
 '11 ',
 '54 ',
 '561 ',
 '64 ',
 '6 ',
 '116 ',
 '19 ',
 ' ',
 '5812 ',
 '9 ',
 '32 ',
 '29 ',
 '67 ',
 ' ',
 '25 ',
 '6400 ',
 '10 ',
 '5 ',
 '13 ',
 '98 ',
 '36 ',
 '69 ',
 '2158859 ',
 '518 ',
 '15 ',
 '179 ',
 ' ',
 '12 ',
 '38 ',
 '65 ',
 '102 ',
 '86 ',
 '7 ',
 '53 ',
 '20 ',
 '1 ',
 '71 ',
 '29 ',
 '20531 ',
 '65 ',
 '3 ',
 '22 ',
 '38 ',
 '22 ',
 '4814 ',
 '698 ',
 '13 ',
 '10 ',
 '59 ',
 '56 ',
 '482 ',
 '171 ',
 '5 ',
 '500 ',
 '411 ',
 '8519 ',
 '21 ',
 '21 ',
 '171 ',
 '7 ',
 '49 ',
 '12 ',
 '3 ',
 '21 ',
 '9 ',
 '8 ',
 '7 ',
 '2 ',
 '11 ',
 '11 ',
 '173 ',
 '5 ',
 '15 ',
 '3 ',
 '105 ',
 '25000 ',
 ' ',
 '18 ',
 '21000 ',
 '115 ',
 '21 ',
 '206 ',
 '43680 ',
 '8 ',
 '10 ',
 '59 ',
 '10 ',
 '5 ',
 '5 ',
 '1000 ',
 '138 ',
 ' ',
 '16 ',
 '2 ',
 '10 ',
 ' ',
 '8 ',
 '6 ',
 '129 ',
 '81 ',
 '12 ',
 '6 ',
 '22 ',
 '18 ',
 '9 ',
 '754 ',
 '14 ',
 '5 ',
 ' ',
 ' ',
 '18 ',
 '7 ',
 '7 ',
 ' ',
 '7 ',
 '5 ',
 '6 ',
 '4 ',
 '18 ',
 '11 ',
 '25 ',
 ' ',
 '20 ',
 '12 ',
 '46 ',
 '9 ',
 '8 ',
 '49 ',
 '11 ',
 '8 ',
 '54 ',
 '36 ',
 '3916 ',
 '710 ',
 '18 ',
 '8 ',
 '29 ',
 '7 ',
 '9 ',
 '37 ',
 '6 ',
 '1024 ',
 '1024 ',
 '14 ',
 '7 ',
 '8265 ',
 '29 ',
 '25 ',
 '3 ',
 '115 ',
 '1 ',
 '12 ',
 '13 ',
 '200000 ',
 '6 ',
 '21 ',
 '4 ',
 '2400 ',
 '175 ',
 '10 ',
 '4714 ',
 '23 ',
 '17 ',
 '2 ',
 '9 ',
 '8 ',
 '280 ',
 '49 ',
 '3 ',
 '14 ',
 '19 ',
 ' ',
 '54 ',
 '8 ',
 '1087 ',
 '12 ',
 '3 ',
 '17 ',
 '8 ',
 '9 ',
 '12 ',
 '1656 ',
 '6 ',
 '2 ',
 '11 ',
 '533 ',
 '14 ',
 '84 ',
 '22 ',
 '16 ',
 '52 ',
 '19 ',
 '3 ',
 '14 ',
 '321 ',
 '13 ',
 '13 ',
 '55 ',
 '39 ',
 '4 ',
 '7 ',
 '79 ',
 '1 ',
 ' ',
 '14 ',
 '96 ',
 '21 ',
 ' ',
 '5 ',
 '2 ',
 '69 ',
 '9 ',
 '124 ',
 '20 ',
 '25 ',
 '11 ',
 '19 ',
 '9 ',
 '9 ',
 '5 ',
 '7 ',
 '4006 ',
 '2 ',
 '19 ',
 '4 ',
 '13 ',
 '55 ',
 '1 ',
 '7842 ',
 '15 ',
 '15 ',
 '70 ',
 '7842 ',
 '4 ',
 '14 ',
 '17 ',
 '23 ',
 '321 ',
 '1068 ',
 '1068 ',
 '5 ']

In [174]:
Year=[]  #list 

yr=driver.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[7]")  #xpath

for i in yr:  #loop
    try:
        Year.append(i.text)
    except NoSuchElementException:
        Year.append("--")
        
len(Year)  #checking length of the year

589

In [175]:

Year

['Year',
 '1995 ',
 '1996 ',
 ' ',
 '1998 ',
 '1998 ',
 '1992 ',
 '1987 ',
 '1992 ',
 '1993 ',
 '1987 ',
 '1994 ',
 '1994 ',
 ' ',
 '1988 ',
 '1992 ',
 '1995 ',
 '1995 ',
 '1990 ',
 '1997 ',
 '1996 ',
 '1988 ',
 '1989 ',
 '1994 ',
 ' ',
 ' ',
 '1995 ',
 ' ',
 '1992 ',
 '1987 ',
 '1997 ',
 '1998 ',
 '1995 ',
 '1998 ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1989 ',
 '1996 ',
 '1990 ',
 '1990 ',
 '1987 ',
 '1999 ',
 '1989 ',
 '1988 ',
 '1988 ',
 '1989 ',
 ' ',
 '1990 ',
 '1998 ',
 '1989 ',
 '1988 ',
 '1994 ',
 '1990 ',
 '1988 ',
 '1988 ',
 '1990 ',
 '1991 ',
 '1990 ',
 ' ',
 '1992 ',
 '1988 ',
 '1990 ',
 '1996 ',
 '1995 ',
 '1990 ',
 ' ',
 '1992 ',
 '1992 ',
 '1994 ',
 ' ',
 '1987 ',
 '1994 ',
 '1994 ',
 '1997 ',
 '1991 ',
 '1995 ',
 '1998 ',
 '1998 ',
 '1993 ',
 '1988 ',
 ' ',
 ' ',
 '1992 ',
 '1993 ',
 '1988 ',
 '1989 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1999 ',
 '2001 ',
 '2001 ',
 ' ',
 '1992 ',
 '1993 ',
 '1997 ',
 '1991 ',
 '1987 ',
 '1994 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1988 ',
 '1991 ',
 '1996 ',
 '1990 ',
 ' ',
 '1999 ',
 '1999 ',
 '2002 ',
 ' ',
 '2000 ',
 '1999 ',
 '1999 ',
 '2001 ',
 '1999 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '1999 ',
 ' ',
 '1998 ',
 '1999 ',
 '2001 ',
 '1999 ',
 ' ',
 '2003 ',
 '1999 ',
 '1999 ',
 '1997 ',
 '1999 ',
 '1999 ',
 '1998 ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1993 ',
 '1990 ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1989 ',
 '2006 ',
 '2006 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2010 ',
 '2009 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2021 ',
 '2021 ']

In [176]:
#Creating data frame
df=pd.DataFrame()

df['Dataset Name']=Dataset_Name[1:589]
df['Dataset Type']=Data_Type[1:589]
df['Default Task']=Default_Task[1:589]
df['Attribute Type']=Attributes_Types[1:589]
df['No of instances']=Instances[1:]
df[' No of attribute']=Attributes[1:]
df['Year']=Year[1:]

df

,Dataset Name,Dataset Type,Default Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021