In [1]:
#installing Selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\hppc\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\hppc\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [43]:
#Importing requried lib.

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1 .first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
3.Then scrape the data for the first 10 jobs results you get.
4 .Finally create a dataframe of the scraped data. Note- All of the above steps have to be done in code. No step is to be done manually.

In [44]:
driver = webdriver.Chrome("chromedriver.exe")

In [45]:
url = ' https://www.naukri.com/'
driver.get(url)

In [46]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [47]:
search_job.send_keys("Data Analyst")

In [48]:
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc

In [49]:
search_loc.send_keys("Bangalore")

In [50]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [51]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="11161ef1-b0d7-4b70-a43b-6c1c194774e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="ad0ff286-0df9-4fcb-9d73-879bf168e395")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="97e156f1-7939-4528-bec1-2bcc9b025ed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="be7a32a9-0725-42ff-9349-6709ed7b0e51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="800a4e70-674a-461b-954a-d90f66c87bc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="ad5308c1-f875-4c37-83ab-0e395f6062a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="d8c315c8-3226-4dfb-ae1a-b1cfbe7ac1be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="0cc139e6-9acc-49c8-83a3-7c9e4fd8305e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="b139ad44-1de4-4f48-bb24-778047684c0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="76f0dfb0-3413-4b6a-ac00-d150a4cdc6e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="0578a0a8-a7f2-4d37-b99b-680aacd1250c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="5574c919-aa06-4b9d-9999-78370515a111")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="3245d5c6-18aa-479d-a309-6026f8a87bf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="cdc66857-7464-4364-92de-7c4e5051cbca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="3136e8c2-c4f2-4dd3-aaa7-e8495e0b0df2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="cc20ac88-4450-42a0-b24a-147a8f85a85a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="a28432a7-48c8-4d60-a1ea-6935791e03dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="9c999540-dbf7-482e-b643-0b9de99110fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="2a4e5778-4d43-444a-89e7-cc7fdb2eb73e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="1b003dbc-50a3-4932-ac7b-4890c472c907")>]

In [52]:
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Business Data Analyst',
 'Business Data Analyst',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'Business Data Analyst - Google Data Studio & SQL',
 'Senior Data Analyst IN4',
 'Data Analyst - Python/SQL',
 'Executive Data Analyst',
 'Senior Data Analyst',
 'Systems and Data Analyst, Safety and Provisioning',
 'Data Analyst with SQL',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Data Analyst - EdTech',
 'Lead , Data Analyst',
 'Associate System and Data Analyst',
 'Data Analyst III (Item & Inventory)',
 'Data Analyst III',
 'Data Analyst with SAS & Python']

In [57]:
companies_titles = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_titles

[<selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="cd8c178c-414f-47d0-b6eb-40d2ddcc0e42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="28764e77-4275-49ab-8444-a6e94fae84de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="d6685320-e4ba-4706-aa97-9988578e2198")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="44e77d4b-bca1-40d9-8214-fb1b232a50af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="f9b41430-8f90-40e5-80ae-6b064aa2fc14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="168dbd5b-e1bf-41a9-be02-4b7c4f1a5f8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="f6c52779-255f-4e7e-8925-77e507e5024a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="f6ed13f5-c673-47fa-97af-9b33fbaed9a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="f26de5ce-a473-4f3d-9be4-448fe4a3e524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="183f66e9-49d7-4377-9d02-9700a3d640d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="e1bbb106-e357-4615-ac06-2d3c031fcdf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="a2e35578-7cb6-4c69-8f4e-f771ec371e72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="16fdffa5-f477-4207-95a7-8e6aeb4e0991")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="0d6cf631-4b46-4e69-9ed6-502b80404664")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="faa63079-6a4f-41b2-a1fa-87a4483ed685")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="2cc617b8-8552-4518-b34d-a6ce38ecbe38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="9e94058c-76f9-4f3d-8860-9326785fe63d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="9d865217-4e36-460f-87c4-fff9e6273b1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="ead206cb-e0ef-455c-841a-bad4dfe54e65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="efd38cbdcae4dd90614375ffdc08da38", element="45a8fb7c-176c-40eb-a16e-8ffa0e8bbc67")>]

In [58]:
companies_names=[]
for i in companies_titles:
    companies_names.append(i.text)
companies_names

['Trigent Software',
 'Trigent Software',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'AVE-Promagne',
 'Walmart Labs',
 'Affine',
 'Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'AECOM India Private Limited',
 'Wipro Limited',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'Edge Executive Search Pvt. Ltd.',
 'TalentStack',
 'Near Pte. Ltd.',
 'Boeing',
 'Walmart Labs',
 'Walmart Labs',
 'Podium Systems']

In [59]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [15]:
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="b39808f9-fd90-4dbb-875e-0138c661e4d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="aa62dd97-d3e8-4ca8-9b8d-8d5d238340d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="d468d79e-d24f-4dde-ac11-db2fa4e83dc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="3f0f83c0-f40b-4162-9419-01fc74116f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="9c71115d-85c8-4d70-9e90-7f6bab967e05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="ea7862ff-8cec-4021-9333-22f9f3ef6538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="4af3fc06-bfbf-49a2-8b64-594edab61c37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="eb10fd4b-8a95-405b-acd4-fb297b265cb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="d5775c80-6508-4796-a3e8-6525ca6118b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="65b46766-ec0e-47cd-bc2b-68eb59baa5a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="5b2554de-5c4f-4a99-981d-d63f9e1acdf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="0d7d7f7a-3adb-44f1-82bb-ed8422329231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="cc7d6c2d-8b11-44cc-897b-b380ffa17784")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="5a5de713-fe08-4dff-9cea-73c1580c8629")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="d99f91fc-6ae8-4f0c-adcd-4b2cef3b1d7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="825d6652-1325-48f2-a338-1d5094f3d2dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="ec98a833-97a5-4002-a390-0443658388ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="f73ce5d6-26ea-4437-a72d-020809bdedd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="ba4f80ac-f5a5-42a3-9243-01bd3745dcd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="1364d6b2-dc16-4bb2-80b1-66a42168ef46")>]

In [60]:
experience_required=[]
for i in experience_tags:
    experience_required.append(i.text)
experience_required

['5-10 Yrs',
 '5-10 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '8-10 Yrs',
 '3-5 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '1-4 Yrs',
 '3-8 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-6 Yrs',
 '3-7 Yrs',
 '4-7 Yrs']

In [61]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [18]:
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="a5b44a06-aef2-4e0c-b849-fdcb0161b62f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="e1d41e3e-27e4-4254-9621-3d79a78d56f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="d1baabef-6cbb-4b73-9d76-ac843281764b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="fb2dd727-4ec1-4a8b-abc6-17379df9a213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="a0693702-c32d-4128-a1a2-f4c701282530")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="0cf97393-de7b-4985-903e-246934dccf3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="9965253b-63a6-476d-a26b-99d2a8a2ae22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="6357a75c-bb7c-4a62-9d9a-9228bfdae9c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="76ed1cc8-0f3e-42bb-b3b4-e28ec5e17867")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="1702e5ae-e1c1-4559-935f-1119e89ceec7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="52175428-5acc-40c3-ae47-785d973922a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="d78787ad-83c5-4ba6-9226-77033db6a74c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="b3c7ad0c-12bf-4cf2-b136-347645251b53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="74082766-ebef-4ab6-9c21-a40a17e93660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="93db5ba1-cb80-4091-b064-9b3cd61903fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="7f48ffec-4487-46af-8a57-5a8d65b9a1ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="910e213d-f077-49cc-968a-52b9662401fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="98a128db-931a-45d3-8644-32feb0329c9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="bb409cd1-bee4-43eb-b644-6077e58b17db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67444615992a3dc9043fef855952e06f", element="1462474f-072c-4d2e-b5a4-b8d48c4162d5")>]

In [62]:
job_location = []
for i in location_tags:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Mumbai, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai, Bangalore']

In [63]:
print(len(job_titles),len(companies_names),len(experience_required),len(job_location))

20 20 20 20

In [64]:
jobs = pd.DataFrame({})
jobs['Job Title']=job_titles
jobs['Company Names']=companies_names
jobs['Experience Required']=experience_required
jobs['Job Location']=job_location

In [65]:
jobs

,Job Title,Company Names,Experience Required,Job Location
0,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
1,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bangalore/Bengaluru
3,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst IN4,Walmart Labs,8-10 Yrs,Bangalore/Bengaluru
6,Data Analyst - Python/SQL,Affine,3-5 Yrs,Bangalore/Bengaluru
7,Executive Data Analyst,Gokaldas Exports Ltd,0-3 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
9,"Systems and Data Analyst, Safety and Provisioning",AECOM India Private Limited,2-7 Yrs,Bangalore/Bengaluru
10,Data Analyst with SQL,Wipro Limited,3-5 Yrs,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru"
11,Data Analyst,IBM India Pvt. Limited,1-4 Yrs,Bengaluru/Bangalore
12,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-8 Yrs,"Mumbai, Bangalore/Bengaluru"
13,Data Analyst,Edge Executive Search Pvt. Ltd.,0-2 Yrs,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)"
14,Data Analyst - EdTech,TalentStack,2-6 Yrs,Bangalore/Bengaluru
15,"Lead , Data Analyst",Near Pte. Ltd.,6-11 Yrs,Bangalore/Bengaluru
16,Associate System and Data Analyst,Boeing,4-8 Yrs,Bangalore/Bengaluru
17,Data Analyst III (Item & Inventory),Walmart Labs,4-6 Yrs,Bangalore/Bengaluru
18,Data Analyst III,Walmart Labs,3-7 Yrs,Bangalore/Bengaluru
19,Data Analyst with SAS & Python,Podium Systems,4-7 Yrs,"Gurgaon/Gurugram, Chennai, Bangalore"

In [66]:
jobs.head(10)

,Job Title,Company Names,Experience Required,Job Location
0,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
1,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bangalore/Bengaluru
3,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst IN4,Walmart Labs,8-10 Yrs,Bangalore/Bengaluru
6,Data Analyst - Python/SQL,Affine,3-5 Yrs,Bangalore/Bengaluru
7,Executive Data Analyst,Gokaldas Exports Ltd,0-3 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
9,"Systems and Data Analyst, Safety and Provisioning",AECOM India Private Limited,2-7 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [67]:
driver = webdriver.Chrome("chromedriver.exe")

In [68]:
url = " https://www.naukri.com/"
driver.get(url)

In [69]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [70]:
search_job.send_keys("Data Scientist,Machine Learning")

In [71]:
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc

In [72]:
search_loc.send_keys("Bangalore")

In [73]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [74]:
companies_titles = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_titles

[<selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="f39f12d0-c963-4e7c-8e14-ecf204bb257c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="9c7700fb-dd98-45f2-b1c2-adda404ab5e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="3b06f9b8-5267-4743-8c72-a36e64a766b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="3ebc1ae2-5f2d-44eb-8628-8a38d5fc625a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="198d72c2-0675-4acf-83da-6a7f0cadae46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="0f4b4a76-9eb3-4517-88ee-483719d6bee1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="99599d54-c926-40f1-9d22-4ee0e8745466")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="c0fa0295-253d-4a43-aaec-3c3c2bbf7c13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="8f5ce8b6-241f-404e-b099-fcb0f01ea690")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="1508ad6c-1bec-4352-a017-7a85cb527ee1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="ca7b2fbc-deb9-49dd-aaca-d83f0475b657")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="b2eafab3-6e60-40ac-ade6-7061e0c97101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="b0a84b60-5668-4460-9c61-6f0715cd52b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="fe64f6e4-bc31-4198-b8c4-ed827ac293d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="3ba0f8a7-e668-4fb7-b97a-56f0ae2386b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="a93f99fa-450e-4d1f-9213-7b48b92e1671")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="5b8ec4f0-1b52-423e-939d-eb1352b0bff1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="304504d2-e147-49fe-9b76-109b0e26bc5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="bbc062f7-f707-41a7-b449-33a181b98412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="dde71dd5-125c-4204-8cda-c23689e717ca")>]

In [75]:
company_name=[]
for i in companies_titles:
    company_name.append(i.text)
company_name

['Wrackle Technologies Pvt Ltd',
 'Squareroot Consulting Pvt Ltd.',
 'Catalyst',
 'Catalyst',
 'Catalyst',
 'Altimax Business Solutions',
 'Wrackle Technologies Pvt Ltd',
 'Ally -eXecutive HR Consulting Partner',
 'Okda Solutions',
 'Confidential',
 'Creative Hands HR Consultancy',
 'AugmatrixGo',
 'TalentStack',
 'Huquo Consulting Pvt. Ltd',
 'Juniper Networks India Pvt Ltd',
 'Juniper Networks India Pvt Ltd',
 'Blue Yonder',
 'Spectrus',
 'Fractal Analytics',
 'Blue Yonder']

In [76]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="0da98046-420e-4f4d-8355-9b7b20db7fe1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="4b0e51e8-6813-4e68-814c-247f935b1752")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="61087024-9684-41af-9de0-caed374498ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="99218e2b-6a6c-4ede-8462-b6d94f57b128")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="49a41505-d507-4d87-9582-d86016b71966")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="941e0dd7-7fac-4c2a-b180-879bfa706677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="03f2d5bf-1134-4b4c-9ccc-9d1006ef5922")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="69fdd632-5648-493e-bb25-051e9bf5b0d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="985b07ca-a230-458c-8523-fb7ef0c5e6df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="61fce261-ed5f-4b09-aaed-9c5d586c51e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="934c0fae-788d-49f2-aa99-d24fd9de3cf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="0f9c2b36-d234-44b9-9430-9e4eee448799")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="d6e02914-13a8-4ce5-9ee6-499bc01c45cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="e0762e45-426f-43fe-b37f-8c9c4a701198")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="43d7efc5-b967-42b6-860d-364adf495ee1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="8c366daf-0414-4e91-b600-9e1878683763")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="d8299bc2-954d-45fa-ba30-b03e3308f9ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="500f30f8-24bd-442a-8fac-d4e26c2af1c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="c0ce5535-4875-485f-8f4e-51b1bb28d9e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="69b229256cd5e3083bf8bb11923430d7", element="356c8508-a4ad-487e-a6fb-e455a37d07b3")>]

In [77]:
job_location = []
for i in location_tags:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [78]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [79]:
len(urls)

20

In [80]:
job_title=[]
job_description=[]

In [81]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    
    try:
        job=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text)
    except NoSuchElementException:
        job_title.append("-")
        
        
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append("-")

In [82]:
print(len(job_title))
print(len(job_description))

10
10

In [83]:
print(len(job_title),len(job_location),len(company_name),len(job_description))

10 20 20 10

In [84]:
jobs = pd.DataFrame({})
jobs['Job Titles']=job_title[:10]
jobs['Job Location']=job_location[:10]
jobs['Company Name']=company_name[:10]
jobs['Job Description']=job_description[:10]

In [85]:
jobs

,Job Titles,Job Location,Company Name,Job Description
0,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Job description\nRoles and Responsibilities\nR...
1,Senior/Lead Data Scientist - Machine Learning/...,Bangalore/Bengaluru,Squareroot Consulting Pvt Ltd.,Job description\nRoles and Responsibilities\nH...
2,Chief Data Scientist - Machine Learning/ Python,Bangalore/Bengaluru,Catalyst,Job description\nWhat you would do as a Data S...
3,Chief Data Scientist - Machine Learning/ Python,Bangalore/Bengaluru,Catalyst,Job description\nChief Data Scientist - Machin...
4,Chief Data Scientist - Machine Learning/python,Bangalore/Bengaluru,Catalyst,Job description\n- Work on the data science ro...
5,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions,Job description\nAbout The Job :\n\n- You will...
6,Data Scientist - Python/ MATLAB/ Machine Learn...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Job description\nData Scientist - Data Mining/...
7,Data Scientist - Algorithm/ Machine Learning,Bangalore/Bengaluru,Ally -eXecutive HR Consulting Partner,Job description\nRoles & Responsibilities :\n\...
8,Lead Data Scientist - Deep Learning/Machine Le...,Bangalore/Bengaluru,Okda Solutions,Job description\nJob Description :\n\n1. Backg...
9,Lead Data Scientist - Deep Learning/machine Le...,Bangalore/Bengaluru,Confidential,Job description\nJob Description :\n\n1. Backg...

Q3: In this question you have to scrape data using the filters available on the
webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

1.first get the webpage https://www.naukri.com/
2.Enter “Data Scientist” in “Skill,Designations,Companies” field .
3.Then click the search button.
4.Then apply the location filter and salary filter by checking the respective boxes
5.Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note- All of the above steps have to be done in code. No step is to be done manually.

In [86]:
driver = webdriver.Chrome("chromedriver.exe")

In [87]:
url = "https://www.naukri.com/"
driver.get(url)

In [88]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [89]:
search_job.send_keys("Data Scientist")

In [90]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [91]:
filter_button = driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in filter_button:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [92]:
filter_button = driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in filter_button:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [93]:
job_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="e0bcf0e7-bef3-445e-a45a-20bf50810d86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="0e997710-c63a-4893-809c-e1b8416e7134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="a533a130-c9f0-4cdd-919c-3e01a6791e4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="117c041c-9b7b-458e-84fd-9ccff5d22384")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="58ca3113-fea7-48f0-9ebb-eb0150da5427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="5d8389cc-e7ad-48ad-ada4-50bb8cb7f602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="c9b3a958-6b3e-40d4-aecd-10eea6633cb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="132de482-4a2a-4371-9c39-4000bd29948f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="a042f249-3597-479c-a0db-c2bf6777cdc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="8e0eb075-865c-4dda-9c88-ffb0404dea8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="f0fc1621-ae89-4d79-99f1-0ca397bd3aa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="3420df63-d07f-4a79-bdba-a1602cce7366")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="bcf6939a-f73e-42f5-b320-e61a842228f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="740ab59b-b56b-4a0d-a201-2001011b6e41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="543501b2-b50d-42e2-92f7-b27c1502349f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="8fe764e4-0acb-46a5-849f-82d826d14bd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="9c4fa1bb-74a3-46f9-a578-18fdb7a1d17f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="5ba9cd85-7a13-40a2-afd6-1c728e1d8e37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="077b4245-f580-4eed-909f-46f8f0c57847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="52e5be48-7426-4418-9559-c633c5f7c5bf")>]

In [94]:
job_titles=[]
for i in job_tags:
    job_titles.append(i.text)
job_titles

['Data Analyst/Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist',
 'Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist / Data Analyst',
 'Immediate Openings For Data Scientist For Wipro C2H',
 'Data Scientist - WFH - MIND Infotech',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist-immediate Joiners',
 'Junior Data Scientists & Engineers',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist',
 'Data Scientist Internship',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Hiring Data Scientist Develope || IDS Infotech LTD || (Permanent WFH)',
 'Data Scientist']

In [95]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="a7663c13-1e69-4683-a156-25acfab388b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="5950a443-2dd8-4ae5-9cf1-53514fa1d158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="3544a205-b6aa-4fc9-afb8-122e81842390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="7d23e2a9-db10-48c1-b99d-bc497b024ee1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="c53f3914-4db3-436b-a840-63c9007e859f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="6a97745e-46d9-478c-9dd9-c844a2c4a592")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="7154340c-fbf8-4f50-a61a-99707b991090")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="bee13ad2-82e0-430c-bcbd-fb65021b5aaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="9de592c8-d140-42ff-9843-b7bbd7c17387")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="ebf83803-b1bc-4aea-841b-601afb831b16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="3d86c11e-b58a-4041-a825-ab0b3e3bc578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="59880215-2b86-4265-96b6-d24cd83261f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="343f9a43-f5d2-4fd9-bc84-7e72f8321368")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="a752adfa-87ca-4573-9090-586e6c69b9e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="8fde074f-dea0-431e-9332-f3dfd54e2832")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="326fb67c-3bfe-4960-8cab-711d7b6fd0c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="36946021-c11a-455f-9603-d118cdd3fef1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="ddd1b5c3-a714-4d9c-84b5-7fac4c4243d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="05253f09-e1a5-4f90-89d8-567af183b191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="5c21b676-83d6-4085-af4d-b1a9647f1d9d")>]

In [96]:
job_location=[]
for i in location_tags:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida\n(WFH during Covid)',
 'Delhi / NCR(Okhla)',
 'Noida',
 'New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Delhi',
 'Chandigarh, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi']

In [97]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="f4b18744-d2d1-4c4f-ba52-c39d03e0fbc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="ebaa886a-6870-4b08-b529-cc386af4662d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="ed6707a5-5487-46cc-816f-99a4b2edbe37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="bb5d2312-05b2-43a3-a51c-9a8d1e6dcb8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="67f54f21-9ef1-47d4-a9c4-00bf1497e87b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="d3bf6222-82b8-444b-991b-beae5298187e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="95670f69-e5e2-4cf2-beb4-8e44321411b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="e01aeac0-a825-40d2-bc3c-c82a682498d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="81e2355c-aaba-4be4-b1d7-1f131bedbcdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="03b9a3ae-793f-45c5-872b-92544ca13ae9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="598ed14f-af6f-437e-b9ff-a0a77cda5758")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="bd2f7d26-85ae-4380-88b9-bd4cb21b6eec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="8485ab2d-e919-4c29-92fc-c99dd2d32b62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="f7ffbf62-fb57-4a8b-a5ce-c51700738984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="349e184a-fd71-437c-b79b-b43346f49e25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="762e272a-5014-4d26-a3ba-7440c6fe5515")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="53d55a75-375e-4d6a-8392-58f7a2a92fa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="7b6bc5f0-ca11-41cf-a319-fc90ff6a6c87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="585931d3-bb09-4a9b-8892-9b3c45cf7fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="a7050315-c036-4e83-b678-229a2a3cd95b")>]

In [98]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name

['Skillenable Fintech Private Limited',
 'GABA Consultancy services',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'Creative Hands HR Consultancy',
 'GABA Consultancy services',
 'CARS24',
 'IDESLABS PRIVATE LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'R Systems International Ltd.',
 'Kusum Healthcare Pvt. Ltd.',
 'Quikruit Consulting LLP',
 'PY Consultancy',
 'TalPro',
 'Fractal Analytics',
 'iHackers Inc',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'Country Veggie',
 'iNICU',
 'IDS Infotech Ltd.',
 'Sentieo']

In [99]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="7f8acedc-f6ff-44a6-bb3f-9c61269113fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="c1b8e7f7-0973-44d6-91ee-6f06ed54b487")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="d21f942e-721b-474a-b9bd-9fdad4b2c29a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="fdf0821c-6d2a-4e31-8a98-267a44ebcf8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="a1faf822-8e79-4660-9dff-d5cbc434eca1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="11bafa31-b1cd-4ac8-900b-3eff9f81ba8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="90fef497-d770-4576-93ce-dc9f2a04aada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="f647e4cd-264b-42e3-aed0-cc23099c9de7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="fb1d6da9-e575-4d01-9491-1bb14b455259")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="561004fb-fdd4-4296-a010-0559736e6b85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="7f3f501e-95a0-470d-9412-2ea261380f61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="f12f7a36-8251-4d08-bc0c-53e2f2170eff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="84f9e2bb-c56d-4475-a4e8-4e36947fd6d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="8a526344-62b4-4575-9473-68d174350e76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="b6ca40e3-562c-4859-9b18-d412ea62c87f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="a3808db0-17da-462a-b3a5-1915de5e092a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="fff8f982-3c1c-4cf9-afea-023b9bfb5955")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="e8a0883f-2b7f-42c2-bdb5-40a08df06c7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="984a592c-2b05-48d6-8702-1fe26cd5285b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d7d79d6bb3b33a375f7c92289d625a0", element="44121139-4a20-4ee5-8848-953548f07c98")>]

In [100]:
experience_required=[]
for i in experience_tags:
    experience_required.append(i.text)
experience_required

['2-5 Yrs',
 '0-0 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '4-6 Yrs',
 '2-5 Yrs',
 '0-3 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '0-1 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '2-7 Yrs']

In [101]:
print(len(company_name),len(job_location),len(job_titles),len(experience_required))

20 20 20 20

In [102]:
job=pd.DataFrame({})
job['Job Title']=job_titles[:10]
job['Job Location']=job_location[:10]
job['Comapny Name']=company_name[:10]
job['Experience Requried']=experience_required[:10]

In [103]:
job

,Job Title,Job Location,Comapny Name,Experience Requried
0,Data Analyst/Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Skillenable Fintech Private Limited,2-5 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs
3,Data Scientist/ Machine Learning Engineer,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",Creative Hands HR Consultancy,0-0 Yrs
4,Data Scientist / Data Analyst / Business Analy...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
5,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
6,Immediate Openings For Data Scientist For Wipr...,Gurgaon/Gurugram,IDESLABS PRIVATE LIMITED,5-10 Yrs
7,Data Scientist - WFH - MIND Infotech,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs
8,Data Scientist,Noida\n(WFH during Covid),R Systems International Ltd.,3-6 Yrs
9,Data Scientist,Delhi / NCR(Okhla),Kusum Healthcare Pvt. Ltd.,4-6 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.html
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [152]:
driver = webdriver.Chrome("chromedriver.exe")

In [153]:
url ="https://www.glassdoor.co.in/index.html"
driver.get(url)

In [154]:
search_job=driver.find_element_by_id("sc.keyword")

search_job

In [155]:
search_job.send_keys("Data Scientist")

In [156]:
search_loc=driver.find_element_by_id("sc.location")

search_loc

In [157]:
search_loc.send_keys("Noida")

In [161]:
search_btn=driver.find_element_by_xpath("//span[@class='css-8zxfjs']")
search_btn.click()

In [162]:
company_name=[]
number_of_days_ago=[]
ratings=[]

In [160]:
comp = driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")
comp

[]

In [163]:
for i in comp:
    company_name.append(i.text)
company_name

[]

In [164]:
rating = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
rating

[]

In [165]:
for i in rating:
    ratings.append(i.text)
ratings

[]

In [166]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days

[]

In [167]:
for i in days:
    number_of_days_ago.append(i.text)
number_of_days_ago

[]

In [168]:
print(len(company_name),len(number_of_days_ago),len(ratings))

0 0 0

In [169]:
jobs=pd.DataFrame({})
jobs['Company Name']=company_name[:10]
jobs['Number Of Days Ago']=number_of_days_ago[:10]
jobs['Ratings']=ratings[:10]

In [170]:
jobs

Empty DataFrame
Columns: [Company Name, Number Of Days Ago, Ratings]
Index: []

Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [9]:

driver=webdriver.Chrome('chromedriver.exe')

NameError: name 'webdriver' is not defined

In [8]:
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

NameError: name 'driver' is not defined

In [240]:
search_job = driver.find_element_by_id("KeywordSearch")
search_job

In [241]:
search_job.send_keys("Data Scientist")

In [242]:
search_loc = driver.find_element_by_id("LocationSearch")
search_loc

In [243]:
search_loc.send_keys("Noida")

In [250]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [251]:
company_tags=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
company_tags

In [2]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)
company_name

NameError: name 'company_tags' is not defined

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it.
To scrape the data you have to go through following steps:
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [115]:
driver = webdriver.Chrome("chromedriver.exe")

In [116]:
url="https://flipkart.com"
driver.get(url)

In [124]:
search_item=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_item

In [129]:
search_item.send_keys("sunglasses")

In [130]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [131]:
brands=[]
product_description=[]
price=[]
discount=[]

In [132]:
for i in range(1,5):
    brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        brands.append(i.text)
    brands  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [133]:
brands

['Elligator',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'PIRASO',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'NuVew',
 'PIRASO',
 'PIRASO',
 'DEIXELS',
 'Silver Kartz',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Rich Club',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'ROYAL SON',
 'OCCARIO',
 'Elligator',
 'Singco India',
 'Elligator',
 'hipe',
 'PHENOMENAL',
 'GANSTA',
 'PIRASO',
 'HIPPON',
 'Elligator',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'PIRASO',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'NuVew',
 'PIRASO',
 'PIRASO',
 'DEIXELS',
 'Silver Kartz',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Rich Club',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'ROYAL SON',
 'OCCARIO',
 'Elligator',
 'Singco India',
 'Elligator',
 'hipe',
 'PHENOMENAL',
 'GANSTA',
 'PIRASO',
 'HIPPON',
 'Elligator',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'PIRASO',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'NuVew',
 'PIRASO',
 'PIRASO',
 'DEIXELS',
 'Silver Kartz',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Rich Club',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'ROYAL SON',
 'OCCARIO',
 'Elligator',
 'Singco India',
 'Elligator',
 'hipe',
 'PHENOMENAL',
 'GANSTA',
 'PIRASO',
 'HIPPON',
 'Elligator',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'PIRASO',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'NuVew',
 'PIRASO',
 'PIRASO',
 'DEIXELS',
 'Silver Kartz',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Rich Club',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'ROYAL SON',
 'OCCARIO',
 'Elligator',
 'Singco India',
 'Elligator',
 'hipe',
 'PHENOMENAL',
 'GANSTA',
 'PIRASO',
 'HIPPON']

In [134]:
for i in range(1,5):
    desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in desc:
        product_description.append(i.text)
    product_description  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [135]:
product_description

['UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (58)',
 'Others Round Sunglasses (52)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (58)',
 'Others Round Sunglasses (52)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (58)',
 'Others Round Sunglasses (52)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (58)',
 'Others Round Sunglasses (52)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)']

In [137]:
for i in range(1,5):
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tag:
        price.append(i.text)
    price  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [138]:
price

['₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹213',
 '₹758',
 '₹509',
 '₹404',
 '₹399',
 '₹215',
 '₹499',
 '₹546',
 '₹331',
 '₹265',
 '₹186',
 '₹449',
 '₹237',
 '₹229',
 '₹246',
 '₹689',
 '₹284',
 '₹449',
 '₹449',
 '₹284',
 '₹215',
 '₹379',
 '₹209',
 '₹503',
 '₹474',
 '₹179',
 '₹355',
 '₹352',
 '₹443',
 '₹210',
 '₹295',
 '₹295',
 '₹399',
 '₹257',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹213',
 '₹758',
 '₹509',
 '₹404',
 '₹399',
 '₹215',
 '₹499',
 '₹546',
 '₹331',
 '₹265',
 '₹186',
 '₹449',
 '₹237',
 '₹229',
 '₹246',
 '₹689',
 '₹284',
 '₹449',
 '₹449',
 '₹284',
 '₹215',
 '₹379',
 '₹209',
 '₹503',
 '₹474',
 '₹179',
 '₹355',
 '₹352',
 '₹443',
 '₹210',
 '₹295',
 '₹295',
 '₹399',
 '₹257',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹213',
 '₹758',
 '₹509',
 '₹404',
 '₹399',
 '₹215',
 '₹499',
 '₹546',
 '₹331',
 '₹265',
 '₹186',
 '₹449',
 '₹237',
 '₹229',
 '₹246',
 '₹689',
 '₹284',
 '₹449',
 '₹449',
 '₹284',
 '₹215',
 '₹379',
 '₹209',
 '₹503',
 '₹474',
 '₹179',
 '₹355',
 '₹352',
 '₹443',
 '₹210',
 '₹295',
 '₹295',
 '₹399',
 '₹257',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹213',
 '₹758',
 '₹509',
 '₹404',
 '₹399',
 '₹215',
 '₹499',
 '₹546',
 '₹331',
 '₹265',
 '₹186',
 '₹449',
 '₹237',
 '₹229',
 '₹246',
 '₹689',
 '₹284',
 '₹449',
 '₹449',
 '₹284',
 '₹215',
 '₹379',
 '₹209',
 '₹503',
 '₹474',
 '₹179',
 '₹355',
 '₹352',
 '₹443',
 '₹210',
 '₹295',
 '₹295',
 '₹399',
 '₹257',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹213',
 '₹758',
 '₹509',
 '₹404',
 '₹399',
 '₹215',
 '₹499',
 '₹546',
 '₹331',
 '₹265',
 '₹186',
 '₹449',
 '₹237',
 '₹229',
 '₹246',
 '₹689',
 '₹284',
 '₹449',
 '₹449',
 '₹284',
 '₹215',
 '₹379',
 '₹209',
 '₹503',
 '₹474',
 '₹179',
 '₹355',
 '₹352',
 '₹443',
 '₹210',
 '₹295',
 '₹295',
 '₹399',
 '₹257',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹213',
 '₹758',
 '₹509',
 '₹404',
 '₹399',
 '₹215',
 '₹499',
 '₹546',
 '₹331',
 '₹265',
 '₹186',
 '₹449',
 '₹237',
 '₹229',
 '₹246',
 '₹689',
 '₹284',
 '₹449',
 '₹449',
 '₹284',
 '₹215',
 '₹379',
 '₹209',
 '₹503',
 '₹474',
 '₹179',
 '₹355',
 '₹352',
 '₹443',
 '₹210',
 '₹295',
 '₹295',
 '₹399',
 '₹257',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹213',
 '₹758',
 '₹509',
 '₹404',
 '₹399',
 '₹215',
 '₹499',
 '₹546',
 '₹331',
 '₹265',
 '₹186',
 '₹449',
 '₹237',
 '₹229',
 '₹246',
 '₹689',
 '₹284',
 '₹449',
 '₹449',
 '₹284',
 '₹215',
 '₹379',
 '₹209',
 '₹503',
 '₹474',
 '₹179',
 '₹355',
 '₹352',
 '₹443',
 '₹210',
 '₹295',
 '₹295',
 '₹399',
 '₹257',
 '₹329',
 '₹198',
 '₹237',
 '₹284',
 '₹237',
 '₹474',
 '₹213',
 '₹758',
 '₹509',
 '₹404',
 '₹399',
 '₹215',
 '₹499',
 '₹546',
 '₹331',
 '₹265',
 '₹186',
 '₹449',
 '₹237',
 '₹229',
 '₹246',
 '₹689',
 '₹284',
 '₹449',
 '₹449',
 '₹284',
 '₹215',
 '₹379',
 '₹209',
 '₹503',
 '₹474',
 '₹179',
 '₹355',
 '₹352',
 '₹443',
 '₹210',
 '₹295',
 '₹295',
 '₹399',
 '₹257']

In [139]:
for i in range(1,5):
    discount_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in discount_tag:
        discount.append(i.text)
    discount  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [140]:
discount

['86% off',
 '88% off',
 '85% off',
 '89% off',
 '85% off',
 '68% off',
 '80% off',
 '15% off',
 '36% off',
 '79% off',
 '80% off',
 '78% off',
 '77% off',
 '31% off',
 '80% off',
 '73% off',
 '78% off',
 '82% off',
 '85% off',
 '80% off',
 '83% off',
 '23% off',
 '89% off',
 '77% off',
 '79% off',
 '71% off',
 '73% off',
 '74% off',
 '79% off',
 '37% off',
 '68% off',
 '69% off',
 '85% off',
 '70% off',
 '70% off',
 '83% off',
 '87% off',
 '85% off',
 '84% off',
 '78% off',
 '86% off',
 '88% off',
 '85% off',
 '89% off',
 '85% off',
 '68% off',
 '80% off',
 '15% off',
 '36% off',
 '79% off',
 '80% off',
 '78% off',
 '77% off',
 '31% off',
 '80% off',
 '73% off',
 '78% off',
 '82% off',
 '85% off',
 '80% off',
 '83% off',
 '23% off',
 '89% off',
 '77% off',
 '79% off',
 '71% off',
 '73% off',
 '74% off',
 '79% off',
 '37% off',
 '68% off',
 '69% off',
 '85% off',
 '70% off',
 '70% off',
 '83% off',
 '87% off',
 '85% off',
 '84% off',
 '78% off',
 '86% off',
 '88% off',
 '85% off',
 '89% off',
 '85% off',
 '68% off',
 '80% off',
 '15% off',
 '36% off',
 '79% off',
 '80% off',
 '78% off',
 '77% off',
 '31% off',
 '80% off',
 '73% off',
 '78% off',
 '82% off',
 '85% off',
 '80% off',
 '83% off',
 '23% off',
 '89% off',
 '77% off',
 '79% off',
 '71% off',
 '73% off',
 '74% off',
 '79% off',
 '37% off',
 '68% off',
 '69% off',
 '85% off',
 '70% off',
 '70% off',
 '83% off',
 '87% off',
 '85% off',
 '84% off',
 '78% off',
 '86% off',
 '88% off',
 '85% off',
 '89% off',
 '85% off',
 '68% off',
 '80% off',
 '15% off',
 '36% off',
 '79% off',
 '80% off',
 '78% off',
 '77% off',
 '31% off',
 '80% off',
 '73% off',
 '78% off',
 '82% off',
 '85% off',
 '80% off',
 '83% off',
 '23% off',
 '89% off',
 '77% off',
 '79% off',
 '71% off',
 '73% off',
 '74% off',
 '79% off',
 '37% off',
 '68% off',
 '69% off',
 '85% off',
 '70% off',
 '70% off',
 '83% off',
 '87% off',
 '85% off',
 '84% off',
 '78% off']

In [141]:
print(len(brands),len(product_description),len(price),len(discount))

160 160 320 160

In [142]:
sunglasses=pd.DataFrame({})
sunglasses['Brands']=brands[:100]
sunglasses['Product Description']=product_description[:100]
sunglasses['Price']=price[:100]
sunglasses['Discount']=discount[:100]

In [143]:
sunglasses

,Brands,Product Description,Price,Discount
0,Elligator,UV Protection Round Sunglasses (54),₹329,86% off
1,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
3,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
...,...,...,...,...
95,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹265,73% off
96,NuVew,"UV Protection, Mirrored Aviator Sunglasses (58)",₹186,78% off
97,PIRASO,UV Protection Butterfly Sunglasses (65),₹449,82% off
98,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
99,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹229,80% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-
earpods-power-
adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [171]:
 driver = webdriver.Chrome("chromedriver.exe")

In [172]:
 url = "  https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC "
 driver.get(url)

In [173]:
ratings=[]
review_summary=[]
full_review=[]

In [177]:
all_reviews=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_reviews.click()

In [178]:
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
url

[<selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="e688cef4-3ad2-463d-9b05-5266a2b20da4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="32571c35-ed7b-4ee5-85db-6e61d3bcaeb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="4f505c99-59e7-4908-9152-a0f59e2f40a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="54f72e61-182f-49a8-8cd2-9bb8fad18199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="48b054d9-c54e-43ba-9a05-d77eacdf7268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="5f317c32-d81f-45ea-bef7-82bc99c1971c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="1b85c9f3-a366-4f8d-bdaa-1185bb3a27b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="afaa9342-d219-41e4-8525-84edfaa606db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="dfdd299c-d56f-450d-a8ae-1d6baae26b14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="c8a8f298-0c5b-4832-8bc6-b8f472ebb78a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ce88efb40b751bfb68f1b9b9264d2c6a", element="4b014e38-35e7-4f26-b8ca-26a152a24911")>]

In [181]:
for i in range(1,12):
    rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        ratings.append(i.text)
    ratings  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [182]:
ratings

['5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5']

In [183]:
for i in range(1,12):
    short_review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in short_review:
        review_summary.append(i.text)
    review_summary  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [184]:
review_summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

In [185]:
for i in range(1,12):
    review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in review:
        full_review.append(i.text)
    full_review  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [186]:
full_review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',

In [187]:
print(len(ratings),len(review_summary),len(full_review))

220 110 110

In [188]:
iphone=pd.DataFrame({})
iphone['Ratings']=ratings[:100]
iphone['Review Summary']=review_summary[:100]
iphone['Full Review']=full_review[:100]

In [189]:
iphone

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,Perfect product!,Amazing phone with great cameras and better ba...
4,,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,,Worth every penny,Previously I was using one plus 3t it was a gr...
96,,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,,Good choice,So far it’s been an AMAZING experience coming ...
98,,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,,Highly recommended,iphone 11 is a very good phone to buy only if ...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.Also note that all the steps required during scraping should be done through code
only and not manually.

In [190]:
 driver = webdriver.Chrome("chromedriver.exe")

In [191]:
url="https://flipkart.com"
driver.get(url)

In [192]:
search_item=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_item

In [193]:
search_item.send_keys("sneakers")

In [195]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [196]:
brands=[]
product_description=[]
price=[]
discount=[]

In [197]:
for i in range(1,4):
    brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        brands.append(i.text)
    brands  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [198]:
brands

['luxury fashion',
 'luxury fashion',
 'Chevit',
 'Longwalk',
 'luxury fashion',
 'BRUTON',
 'ASTEROID',
 'India hub',
 'Chevit',
 'Creer',
 'PEHANOSA',
 'India hub',
 'SCATCHITE',
 'BIRDE',
 'Numenzo',
 'HOTSTYLE',
 'VIPSJAZZY',
 'Numenzo',
 'Shoes Bank',
 'Robbie jones',
 'World Wear Footwear',
 'ASTEROID',
 'Numenzo',
 'India hub',
 'Magnolia',
 'RODDICK SHOES',
 'Absolute comfort',
 'Robbie jones',
 'Kreverse',
 'believe',
 'Arohi',
 'Echor',
 'D-SNEAKERZ',
 'SPARX',
 'restinfoot',
 'SORT',
 'Robbie jones',
 'WRIZT',
 'Airland',
 'PUMA',
 'luxury fashion',
 'luxury fashion',
 'Chevit',
 'Longwalk',
 'luxury fashion',
 'BRUTON',
 'ASTEROID',
 'India hub',
 'Chevit',
 'Creer',
 'PEHANOSA',
 'India hub',
 'SCATCHITE',
 'BIRDE',
 'Numenzo',
 'HOTSTYLE',
 'VIPSJAZZY',
 'Numenzo',
 'Shoes Bank',
 'Robbie jones',
 'World Wear Footwear',
 'ASTEROID',
 'Numenzo',
 'India hub',
 'Magnolia',
 'RODDICK SHOES',
 'Absolute comfort',
 'Robbie jones',
 'Kreverse',
 'believe',
 'Arohi',
 'Echor',
 'D-SNEAKERZ',
 'SPARX',
 'restinfoot',
 'SORT',
 'Robbie jones',
 'WRIZT',
 'Airland',
 'PUMA',
 'luxury fashion',
 'luxury fashion',
 'Chevit',
 'Longwalk',
 'luxury fashion',
 'BRUTON',
 'ASTEROID',
 'India hub',
 'Chevit',
 'Creer',
 'PEHANOSA',
 'India hub',
 'SCATCHITE',
 'BIRDE',
 'Numenzo',
 'HOTSTYLE',
 'VIPSJAZZY',
 'Numenzo',
 'Shoes Bank',
 'Robbie jones',
 'World Wear Footwear',
 'ASTEROID',
 'Numenzo',
 'India hub',
 'Magnolia',
 'RODDICK SHOES',
 'Absolute comfort',
 'Robbie jones',
 'Kreverse',
 'believe',
 'Arohi',
 'Echor',
 'D-SNEAKERZ',
 'SPARX',
 'restinfoot',
 'SORT',
 'Robbie jones',
 'WRIZT',
 'Airland',
 'PUMA']

In [199]:
for i in range(1,4):
    desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in desc:
        product_description.append(i.text)
    product_description  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [200]:
product_description

['luxury fashionable casual shoes Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Men Boxer Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Sneakers For Men',
 'STI-1 casual shoes for men | Latest & Trending Fashion ...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Unisex Comfortable Casual Daily Wear Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'shoe Sneakers For Men',
 'X-Ray Sneakers For Men',
 'luxury fashionable casual shoes Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Men Boxer Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Sneakers For Men',
 'STI-1 casual shoes for men | Latest & Trending Fashion ...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Unisex Comfortable Casual Daily Wear Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'shoe Sneakers For Men',
 'X-Ray Sneakers For Men',
 'luxury fashionable casual shoes Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Men Boxer Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Sneakers For Men',
 'STI-1 casual shoes for men | Latest & Trending Fashion ...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Unisex Comfortable Casual Daily Wear Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'shoe Sneakers For Men',
 'X-Ray Sneakers For Men']

In [201]:
for i in range(1,4):
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tag:
        price.append(i.text)
    price  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [202]:
price

['₹399',
 '₹369',
 '₹599',
 '₹266',
 '₹379',
 '₹474',
 '₹499',
 '₹389',
 '₹498',
 '₹398',
 '₹371',
 '₹399',
 '₹398',
 '₹379',
 '₹429',
 '₹283',
 '₹399',
 '₹449',
 '₹378',
 '₹449',
 '₹240',
 '₹499',
 '₹398',
 '₹399',
 '₹398',
 '₹474',
 '₹198',
 '₹499',
 '₹266',
 '₹499',
 '₹460',
 '₹399',
 '₹348',
 '₹649',
 '₹349',
 '₹539',
 '₹399',
 '₹299',
 '₹250',
 '₹3,850',
 '₹399',
 '₹369',
 '₹599',
 '₹266',
 '₹379',
 '₹474',
 '₹499',
 '₹389',
 '₹498',
 '₹398',
 '₹371',
 '₹399',
 '₹398',
 '₹379',
 '₹429',
 '₹283',
 '₹399',
 '₹449',
 '₹378',
 '₹449',
 '₹240',
 '₹499',
 '₹398',
 '₹399',
 '₹398',
 '₹474',
 '₹198',
 '₹499',
 '₹266',
 '₹499',
 '₹460',
 '₹399',
 '₹348',
 '₹649',
 '₹349',
 '₹539',
 '₹399',
 '₹299',
 '₹250',
 '₹3,850',
 '₹399',
 '₹369',
 '₹599',
 '₹266',
 '₹379',
 '₹474',
 '₹499',
 '₹389',
 '₹498',
 '₹398',
 '₹371',
 '₹399',
 '₹398',
 '₹379',
 '₹429',
 '₹283',
 '₹399',
 '₹449',
 '₹378',
 '₹449',
 '₹240',
 '₹499',
 '₹398',
 '₹399',
 '₹398',
 '₹474',
 '₹198',
 '₹499',
 '₹266',
 '₹499',
 '₹460',
 '₹399',
 '₹348',
 '₹649',
 '₹349',
 '₹539',
 '₹399',
 '₹299',
 '₹250',
 '₹3,850']

In [203]:
for i in range(1,4):
    discount_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in discount_tag:
        discount.append(i.text)
    discount  
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span") 
next_button

In [204]:
discount

['80% off',
 '87% off',
 '62% off',
 '46% off',
 '70% off',
 '86% off',
 '75% off',
 '80% off',
 '72% off',
 '60% off',
 '62% off',
 '80% off',
 '60% off',
 '24% off',
 '66% off',
 '43% off',
 '60% off',
 '77% off',
 '62% off',
 '55% off',
 '51% off',
 '50% off',
 '60% off',
 '69% off',
 '60% off',
 '52% off',
 '60% off',
 '50% off',
 '73% off',
 '50% off',
 '53% off',
 '60% off',
 '47% off',
 '7% off',
 '65% off',
 '77% off',
 '60% off',
 '70% off',
 '49% off',
 '44% off',
 '80% off',
 '87% off',
 '62% off',
 '46% off',
 '70% off',
 '86% off',
 '75% off',
 '80% off',
 '72% off',
 '60% off',
 '62% off',
 '80% off',
 '60% off',
 '24% off',
 '66% off',
 '43% off',
 '60% off',
 '77% off',
 '62% off',
 '55% off',
 '51% off',
 '50% off',
 '60% off',
 '69% off',
 '60% off',
 '52% off',
 '60% off',
 '50% off',
 '73% off',
 '50% off',
 '53% off',
 '60% off',
 '47% off',
 '7% off',
 '65% off',
 '77% off',
 '60% off',
 '70% off',
 '49% off',
 '44% off',
 '80% off',
 '87% off',
 '62% off',
 '46% off',
 '70% off',
 '86% off',
 '75% off',
 '80% off',
 '72% off',
 '60% off',
 '62% off',
 '80% off',
 '60% off',
 '24% off',
 '66% off',
 '43% off',
 '60% off',
 '77% off',
 '62% off',
 '55% off',
 '51% off',
 '50% off',
 '60% off',
 '69% off',
 '60% off',
 '52% off',
 '60% off',
 '50% off',
 '73% off',
 '50% off',
 '53% off',
 '60% off',
 '47% off',
 '7% off',
 '65% off',
 '77% off',
 '60% off',
 '70% off',
 '49% off',
 '44% off']

In [205]:
print(len(brands),len(product_description),len(price),len(discount))

120 102 120 120

In [206]:
sneakers=pd.DataFrame({})
sneakers['Brands']=brands[:100]
sneakers['Product Description']=product_description[:100]
sneakers['Price']=price[:100]
sneakers['Discount']=discount[:100]

In [207]:
sneakers

,Brands,Product Description,Price,Discount
0,luxury fashion,luxury fashionable casual shoes Sneakers For Men,₹399,80% off
1,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹369,87% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹599,62% off
3,Longwalk,Men Boxer Sneakers For Men,₹266,46% off
4,luxury fashion,Luxury Fashionable casual sneaker shoes Sneake...,₹379,70% off
...,...,...,...,...
95,HOTSTYLE,STI-1 casual shoes for men | Latest & Trending...,₹283,43% off
96,VIPSJAZZY,"Casual , Partywear Sneakers Shoes For Men's An...",₹399,60% off
97,Numenzo,"Casual shoes,Sneakers for men's,shoes for men'...",₹449,77% off
98,Shoes Bank,Unisex Comfortable Casual Daily Wear Sneakers ...,₹378,62% off
99,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹449,55% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image. And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe as shown in the below image.Please note that applying the filter and scraping the data , everything should be
done through code only and there should not be any manual step.

In [208]:
driver = webdriver.Chrome("chromedriver.exe")

In [209]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [210]:
filter_button = driver.find_elements_by_xpath("//label[@class='common-customCheckbox']")
for i in filter_button:
    if i.text=='Black':
        i.click()
        break

In [211]:
filter_button = driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']//input")
for i in filter_button:
    if i.text=='6687 to Rs. 13125':
        i.click()
        break

In [212]:
shoe_brand=[]
short_shoe_description=[]
price=[]

In [213]:
for i in range(1,3):
    brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        shoe_brand.append(i.text)
    shoe_brand  
next_button=driver.find_element_by_xpath("//li[@class='pagination-next']//a") 
next_button

In [214]:
shoe_brand

['Newfeel By Decathlon',
 'Provogue',
 'Nike',
 'Alishtezia',
 'Red Tape',
 'Big Fox',
 'Red Tape',
 'Crew STREET',
 'ADIDAS',
 'Roadster',
 'Nike',
 'Provogue',
 'Red Tape',
 'ALDO',
 'Wildcraft',
 'Monrow',
 'Red Tape',
 'H&M',
 'Walkstyle By El Paso',
 'ADIDAS',
 'HRX by Hrithik Roshan',
 'ALDO',
 'Red Tape',
 'Ginger by Lifestyle',
 'Roadster',
 'H&M',
 'Nike',
 'Red Tape',
 'ADIDAS',
 'Walkstyle By El Paso',
 'Eego Italy',
 'Puma',
 'ALDO',
 'Nike',
 'Red Tape',
 'Red Tape',
 'ADIDAS',
 'H&M',
 'Puma',
 'Ginger by Lifestyle',
 'UCLA',
 'H&M',
 'Roadster',
 'U.S. Polo Assn.',
 'ALDO',
 'H&M',
 'H&M',
 'Louis Philippe',
 'Nike',
 'Bella Toes',
 'Newfeel By Decathlon',
 'Provogue',
 'Nike',
 'Alishtezia',
 'Red Tape',
 'Big Fox',
 'Red Tape',
 'Crew STREET',
 'ADIDAS',
 'Roadster',
 'Nike',
 'Provogue',
 'Red Tape',
 'ALDO',
 'Wildcraft',
 'Monrow',
 'Red Tape',
 'H&M',
 'Walkstyle By El Paso',
 'ADIDAS',
 'HRX by Hrithik Roshan',
 'ALDO',
 'Red Tape',
 'Ginger by Lifestyle',
 'Roadster',
 'H&M',
 'Nike',
 'Red Tape',
 'ADIDAS',
 'Walkstyle By El Paso',
 'Eego Italy',
 'Puma',
 'ALDO',
 'Nike',
 'Red Tape',
 'Red Tape',
 'ADIDAS',
 'H&M',
 'Puma',
 'Ginger by Lifestyle',
 'UCLA',
 'H&M',
 'Roadster',
 'U.S. Polo Assn.',
 'ALDO',
 'H&M',
 'H&M',
 'Louis Philippe',
 'Nike',
 'Bella Toes']

In [215]:
for i in range(1,3):
    desc = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in desc:
        short_shoe_description.append(i.text)
    short_shoe_description  
next_button=driver.find_element_by_xpath("//li[@class='pagination-next']//a") 
next_button

In [216]:
short_shoe_description

['Men Walking Shoes',
 'Men Walking Sports Shoes',
 'Men Flex 2021 Running Shoes',
 'Women Colourblocked PU Sneakers',
 'Men Colourblocked PU Sneakers',
 'Men Running Shoes',
 'Men Air + Walking Shoes',
 'Men Running Shoes',
 'Men Uiflow Running Shoes',
 'Men Sneakers',
 'Men React Infinity Runners',
 'Men Solid Loafers',
 'Men Walking Shoes',
 'Men Solid Leather Loafers',
 'Men Ogden Plus Trekking Shoes',
 'Women Sandals',
 'Men Colourblocked Sneakers',
 'Men Espadrilles',
 'Men Running Shoes',
 'Men WOUNDROUS Tennis Shoes',
 'Women Running Shoes',
 'Men Driving Shoes',
 'Men Sneakers',
 'Women Sneakers',
 'Men Solid Sneakers',
 'Men Trainers',
 'Men Zoom Span 3 Running Shoes',
 'Men Air + Walking Shoes',
 'Men ZELT SL 2.0 M Running',
 'Men Running Shoes',
 'Men Trekking Shoes',
 'Men Sneakers',
 'Men Sneakers',
 'Men CITY REP TR Training Shoes',
 'Men Walking Shoes',
 'Men Colourblocked Sneakers',
 'Men Adiron Running Shoes',
 'Womens Braided mules',
 'Men Running Shoes',
 'Women T-Strap Flats',
 'Men Running Shoes',
 'Men Trainers',
 'Men Solid Sneakers',
 'Men Solid Sneakers',
 'Men Solid Slip-On Sneakers',
 'Womens Platform trainers',
 'Men Canvas Trainers',
 'Men Leather Formal Slip-Ons',
 'Unisex FLYBY MID 2 Basketball',
 'Women Sneakers',
 'Men Walking Shoes',
 'Men Walking Sports Shoes',
 'Men Flex 2021 Running Shoes',
 'Women Colourblocked PU Sneakers',
 'Men Colourblocked PU Sneakers',
 'Men Running Shoes',
 'Men Air + Walking Shoes',
 'Men Running Shoes',
 'Men Uiflow Running Shoes',
 'Men Sneakers',
 'Men React Infinity Runners',
 'Men Solid Loafers',
 'Men Walking Shoes',
 'Men Solid Leather Loafers',
 'Men Ogden Plus Trekking Shoes',
 'Women Sandals',
 'Men Colourblocked Sneakers',
 'Men Espadrilles',
 'Men Running Shoes',
 'Men WOUNDROUS Tennis Shoes',
 'Women Running Shoes',
 'Men Driving Shoes',
 'Men Sneakers',
 'Women Sneakers',
 'Men Solid Sneakers',
 'Men Trainers',
 'Men Zoom Span 3 Running Shoes',
 'Men Air + Walking Shoes',
 'Men ZELT SL 2.0 M Running',
 'Men Running Shoes',
 'Men Trekking Shoes',
 'Men Sneakers',
 'Men Sneakers',
 'Men CITY REP TR Training Shoes',
 'Men Walking Shoes',
 'Men Colourblocked Sneakers',
 'Men Adiron Running Shoes',
 'Womens Braided mules',
 'Men Running Shoes',
 'Women T-Strap Flats',
 'Men Running Shoes',
 'Men Trainers',
 'Men Solid Sneakers',
 'Men Solid Sneakers',
 'Men Solid Slip-On Sneakers',
 'Womens Platform trainers',
 'Men Canvas Trainers',
 'Men Leather Formal Slip-Ons',
 'Unisex FLYBY MID 2 Basketball',
 'Women Sneakers']

In [217]:
for i in range(1,6):
    price_tags = driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
    for i in price_tags:
        price.append(i.text)
    price  
next_button=driver.find_element_by_xpath("//li[@class='pagination-next']//a") 
next_button

In [218]:
price

['Rs. 699',
 'Rs. 799',
 'Rs. 1379',
 'Rs. 799',
 'Rs. 2189',
 'Rs. 1899',
 'Rs. 2144',
 'Rs. 2099',
 'Rs. 849',
 'Rs. 1469',
 'Rs. 7799',
 'Rs. 2999',
 'Rs. 1399',
 'Rs. 1379',
 'Rs. 649',
 'Rs. 703',
 'Rs. 2599',
 'Rs. 1379',
 'Rs. 1299',
 'Rs. 2189',
 'Rs. 3599',
 'Rs. 703',
 'Rs. 899',
 'Rs. 1999',
 'Rs. 1469',
 'Rs. 1319',
 'Rs. 3471',
 'Rs. 3024',
 'Rs. 1374',
 'Rs. 1299',
 'Rs. 2699',
 'Rs. 2599',
 'Rs. 699',
 'Rs. 699',
 'Rs. 799',
 'Rs. 1379',
 'Rs. 799',
 'Rs. 2189',
 'Rs. 1899',
 'Rs. 2144',
 'Rs. 2099',
 'Rs. 849',
 'Rs. 1469',
 'Rs. 7799',
 'Rs. 2999',
 'Rs. 1399',
 'Rs. 1379',
 'Rs. 649',
 'Rs. 703',
 'Rs. 2599',
 'Rs. 1379',
 'Rs. 1299',
 'Rs. 2189',
 'Rs. 3599',
 'Rs. 703',
 'Rs. 899',
 'Rs. 1999',
 'Rs. 1469',
 'Rs. 1319',
 'Rs. 3471',
 'Rs. 3024',
 'Rs. 1374',
 'Rs. 1299',
 'Rs. 2699',
 'Rs. 2599',
 'Rs. 699',
 'Rs. 699',
 'Rs. 799',
 'Rs. 1379',
 'Rs. 799',
 'Rs. 2189',
 'Rs. 1899',
 'Rs. 2144',
 'Rs. 2099',
 'Rs. 849',
 'Rs. 1469',
 'Rs. 7799',
 'Rs. 2999',
 'Rs. 1399',
 'Rs. 1379',
 'Rs. 649',
 'Rs. 703',
 'Rs. 2599',
 'Rs. 1379',
 'Rs. 1299',
 'Rs. 2189',
 'Rs. 3599',
 'Rs. 703',
 'Rs. 899',
 'Rs. 1999',
 'Rs. 1469',
 'Rs. 1319',
 'Rs. 3471',
 'Rs. 3024',
 'Rs. 1374',
 'Rs. 1299',
 'Rs. 2699',
 'Rs. 2599',
 'Rs. 699',
 'Rs. 699',
 'Rs. 799',
 'Rs. 1379',
 'Rs. 799',
 'Rs. 2189',
 'Rs. 1899',
 'Rs. 2144',
 'Rs. 2099',
 'Rs. 849',
 'Rs. 1469',
 'Rs. 7799',
 'Rs. 2999',
 'Rs. 1399',
 'Rs. 1379',
 'Rs. 649',
 'Rs. 703',
 'Rs. 2599',
 'Rs. 1379',
 'Rs. 1299',
 'Rs. 2189',
 'Rs. 3599',
 'Rs. 703',
 'Rs. 899',
 'Rs. 1999',
 'Rs. 1469',
 'Rs. 1319',
 'Rs. 3471',
 'Rs. 3024',
 'Rs. 1374',
 'Rs. 1299',
 'Rs. 2699',
 'Rs. 2599',
 'Rs. 699',
 'Rs. 699',
 'Rs. 799',
 'Rs. 1379',
 'Rs. 799',
 'Rs. 2189',
 'Rs. 1899',
 'Rs. 2144',
 'Rs. 2099',
 'Rs. 849',
 'Rs. 1469',
 'Rs. 7799',
 'Rs. 2999',
 'Rs. 1399',
 'Rs. 1379',
 'Rs. 649',
 'Rs. 703',
 'Rs. 2599',
 'Rs. 1379',
 'Rs. 1299',
 'Rs. 2189',
 'Rs. 3599',
 'Rs. 703',
 'Rs. 899',
 'Rs. 1999',
 'Rs. 1469',
 'Rs. 1319',
 'Rs. 3471',
 'Rs. 3024',
 'Rs. 1374',
 'Rs. 1299',
 'Rs. 2699',
 'Rs. 2599',
 'Rs. 699']

In [219]:
print(len(shoe_brand),len(short_shoe_description),len(price))

100 100 165

In [220]:
shoe=pd.DataFrame({})
shoe['Shoe Brand']=shoe_brand
shoe['Short Shoe Description']=short_shoe_description
shoe['Price']=price[:100]

In [221]:
shoe

              Shoe Brand           Short Shoe Description     Price
0   Newfeel By Decathlon                Men Walking Shoes   Rs. 699
1               Provogue         Men Walking Sports Shoes   Rs. 799
2                   Nike      Men Flex 2021 Running Shoes  Rs. 1379
3             Alishtezia  Women Colourblocked PU Sneakers   Rs. 799
4               Red Tape    Men Colourblocked PU Sneakers  Rs. 2189
..                   ...                              ...       ...
95                   H&M         Womens Platform trainers  Rs. 1299
96                   H&M              Men Canvas Trainers  Rs. 2699
97        Louis Philippe      Men Leather Formal Slip-Ons  Rs. 2599
98                  Nike    Unisex FLYBY MID 2 Basketball   Rs. 699
99            Bella Toes                   Women Sneakers   Rs. 699

[100 rows x 3 columns]

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [222]:
 driver = webdriver.Chrome("chromedriver.exe")

In [223]:
url = "https://www.amazon.in/"
driver.get(url)

In [224]:
search_bar = driver.find_element_by_id('twotabsearchtextbox')
search_bar

In [225]:
search_bar.send_keys("Laptop")

In [226]:
search_btn = driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

In [227]:
filter_button = driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [228]:
filter_button = driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [229]:
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price

[<selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="79b80239-e8a7-4c21-a574-f0cac8b1ed9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="bf86cd21-50bf-4de1-bebd-8df637d5cb86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="bd940311-7276-4237-b3cd-0946daf67fde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="85146bfb-aa1b-4aa6-844d-db8fd0a6f2c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="3dacd5cf-eab4-437c-9457-354e8b785767")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="774b2ba3-e345-4299-9933-415ceca14e1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="badeea60-0f8e-4dd6-8954-caee1bcb8dce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="e8fc81d2-7b9a-4ec0-bde1-b666d0808c93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="1d390302-fa7b-46f1-bfaf-16e41bd475a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="c1b624e8-5c99-4b7b-9acf-ac7d35dcbcf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="c4f026cd-1a2e-4dbf-83f3-0102e265f2e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="efe00242-7199-40e7-8978-022a078bb371")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="31edf620-1fa5-4a02-8f4a-39c9c2b5a0cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="e31d4dff-de2f-4ac2-9f5e-e810521b840a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="860b9890-a175-42fb-a23f-d82354d2b2aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="158cccfa-01d7-4972-b829-ff97c0233ebf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="9683703c-694f-4afd-9ee1-48ddc7eaa0c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="dab49306-44cf-41a2-8273-81dbb4708e57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="4d9e5c65-652a-48e7-8706-a5ba3b0077bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="ba3404da-89f7-4163-bf17-ccef171dd1eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="b2545a0d-c818-4493-a07a-75cfc7232254")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1bbb481badb795d9e4818d724e4db6e9", element="62722764-0b32-4f19-8e76-523c976d85f2")>]

In [230]:
laptop_price=[]
for i in price:
    laptop_price.append(i.text)
laptop_price

['1,23,300',
 '76,999',
 '77,990',
 '1,13,990',
 '87,990',
 '73,990',
 '57,990',
 '1,23,300',
 '72,999',
 '1,19,499',
 '1,07,990',
 '46,999',
 '63,999',
 '52,999',
 '1,01,910',
 '81,290',
 '84,767',
 '45,999',
 '39,999',
 '41,999',
 '45,999',
 '51,999']

In [231]:
urls = []
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute("href"))

In [232]:
len(urls)

25

In [233]:
laptop_titles=[]
laptop_ratings=[]

In [234]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    
    
    try:
        titles = driver.find_element_by_xpath("//span[@class='a-size-large product-title-word-break']")
        laptop_titles.append(titles.text)
    except:
        laptop_titles.append("-")
        
        
        
    try:
        ratings=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        laptop_ratings.append(ratings.text)
    except:
        laptop_ratings.append("-")

In [235]:
print(len(laptop_titles),len(laptop_ratings),len(laptop_price))

10 10 22

In [236]:
amazon=pd.DataFrame({})
amazon['Laptop Title']=laptop_titles[:10]
amazon['Latop Rating']=laptop_ratings[:10]
amazon['Laptop Price']=laptop_price[:10]

In [237]:
amazon

,Laptop Title,Latop Rating,Laptop Price
0,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5,"1,23,300"
1,Mi Notebook Ultra 3K Resolution Display Intel ...,4.3 out of 5,"76,999"
2,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,4.3 out of 5,"77,990"
3,"ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...",-,"1,13,990"
4,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...",3.5 out of 5,"87,990"
5,Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...,4.4 out of 5,"73,990"
6,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5,"57,990"
7,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5,"1,23,300"
8,Mi Notebook Pro QHD+ IPS Anti Glare Display In...,4.5 out of 5,"72,999"
9,Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...,4.4 out of 5,"1,19,499"